@import '../../../../styles/variables';

.SpeakerProfile {
  position: relative;
  display: inline-block;
  width: 120px;
  margin-right: 53px;
  margin-bottom: 52px;

  &.isLast {
    margin-right: 0;
  }
  .ContentWrap {
    box-sizing: border-box;

    .ImageWrap {
      & > img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .Company {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 600;
      color: $main-color;
      text-align: center;
    }
    .Name {
      margin-top: 6px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: $font-color;
    }
  }
}
