@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.SpeakerProfile {
  position: relative;
  width: 120px;
  font-size: 0;
  float: left;

  &:nth-child(2) {
    margin-left: 53px;
  }
  &:nth-child(3) {
    float: right;
  }
  &.isLast {
    float: right;
    margin-right: 53px;
  }
  .ContentWrap {
    box-sizing: border-box;

    .ImageWrap {
      & > img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .Company {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 600;
      color: $main-color;
      text-align: center;
    }
    .Name {
      margin-top: 6px;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: $font-color;
    }
  }
  @include tablet-basic {
    width: 60px;

    &:nth-child(2) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
    }
    &.isLast {
      margin-right: 0;
    }
  }
}
