@import 'variables';
@import 'mixins';

.HeroSection {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #110a5a, #07042e);

  .Content {
    position: relative;
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 86px 136px;
    z-index: 2;

    .Logo {
      font-size: 0;

      img {
        width: 120px;
      }
    }
    .ClockWrap {
      position: relative;
      margin-top: 40px;

      .Day {
        margin-bottom: 20px;
      }
      .TimeDivider {
        position: relative;
        display: inline-block;
        padding: 34px 16px;
        width: 41px;
        height: 100px;
        box-sizing: border-box;

        .Circle {
          position: absolute;
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;

          &:first-child {
            top: 34px;
          }
          &:last-child {
            bottom: 34px;
          }
        }
      }
    }
    .HeroImage {
      position: absolute;
      width: 577px;
      left: 400px;
      bottom: -94px;
      z-index: 2;
      pointer-events: none;

      img {
        width: 100%;
      }
    }
    .ButtonWrap {
      margin-top: 72px;
      font-size: 18px;

      button {
        background: #ffeb3b;
        color: #000;
      }
    }
    @include mobile-basic {
      padding: 32px 32px 90px;

      .Logo {
        img {
          width: 72px;
        }
      }
      .ClockWrap {
        .Day {
          margin-bottom: 8px;
        }
        .TimeDivider {
          padding: 26px 13px;
          width: 32px;
          height: 80px;

          .Circle {
            &:first-child {
              top: 26px;
            }
            &:last-child {
              bottom: 26px;
            }
          }
        }
      }
      .HeroImage {
        width: 70%;
        left: auto;
        right: -40px;
        bottom: -72px;
        z-index: 2;
      }
      .ButtonWrap {
        margin-top: 40px;
        font-size: 14px;

        button {
          padding: 17px;
        }
      }
    }
  }
  .Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    & > img {
      max-width: 100%;
    }
    .TopRight {
      position: absolute;
      top: 0;
      right: 0;
    }
    .BottomLeft {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @include mobile-basic {
    .Background {
      & > img {
        max-width: 60%;
      }
    }
  }
}
