@import 'variables';
@import 'mixins';

.HeroSection {
  position: relative;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #110a5a, #07042e);

  .Content {
    position: relative;
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 86px 136px;
    z-index: 2;

    .Logo {
      font-size: 0;

      img {
        width: 120px;
      }
    }
    .SocialWrap {
      position: absolute;
      top: 72px;
      right: 86px;
    }
    .SocialList {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .SocialItem {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-size: 100%;
      &:nth-child(1) { background-image: url("/static/images/socials/facebook.png") }
      &:nth-child(2) { background-image: url("/static/images/socials/pages.png") }
      &:nth-child(3) { background-image: url("/static/images/socials/email.png") }
      &:last-child { margin: 0 }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .ClockWrap {
      position: relative;
      margin-top: 40px;

      .Day {
        margin-bottom: 20px;
      }
      .TimeDivider {
        position: relative;
        display: inline-block;
        padding: 34px 16px;
        width: 41px;
        height: 100px;
        box-sizing: border-box;

        .Circle {
          position: absolute;
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white;

          &:first-child {
            top: 34px;
          }
          &:last-child {
            bottom: 34px;
          }
        }
      }
    }
    .ButtonWrap {
      margin-top: 72px;
      font-size: 0;

      a {
        display: block;
      }
      button {
        width: 218px;
        padding: 18px 0 20px 0;
        background: #ffeb3b;
        color: #000;
      }
    }
    .RegisterNotice {
      display: inline-block;
      min-width: 218px;
      margin-top: 6px;
      text-align: center;
      font-size: 11px;
      line-height: 11px;
      color: #fff;
      opacity: .9;
      span:last-child {
        display: none;
      }
    }
    @include mobile-basic {
      padding: 32px 24px 90px;
      .Logo {
        img {
          width: 72px;
        }
      }
      .SocialWrap {
        position: absolute;
        top: 32px;
        right: 24px;
      }
      .SocialItem {
        width: 28px;
        height: 28px;
        margin-right: 5px;
      }
      .ClockWrap {
        .Day {
          margin-bottom: 8px;
        }
        .TimeDivider {
          padding: 26px 13px;
          width: 32px;
          height: 80px;

          .Circle {
            &:first-child {
              top: 26px;
            }
            &:last-child {
              bottom: 26px;
            }
          }
        }
      }
      .HeroImage {
        width: 70%;
        left: auto;
        right: -40px;
        bottom: -72px;
        z-index: 2;
      }
      .ButtonWrap {
        margin-top: 40px;
        button {
          width: 172px;
          padding: 17px 0;
        }
      }
      .RegisterNotice {
        min-width: 172px;
        margin-top: 4px;
        span:first-child {
          display: none;
        }
        span:last-child {
          display: block;
        }
      }
    }
  }
  .Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    & > img {
      max-width: 100%;
    }
    .TopRight {
      position: absolute;
      top: 0;
      right: 0;
    }
    .BottomLeft {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  @include mobile-basic {
    .Background {
      & > img {
        max-width: 60%;
      }
    }
  }
}
