@import '../../styles/variables';
@import '../../styles/mixins';

.SpeakersSection {
  position: relative;
  background: #f6f6f6;

  .Content {
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 192px 140px 192px;

    .Title {
      font-size: 24px;
      font-weight: 700;
      color: $main-color;
      text-align: center;
    }
    .SpeakersWrap {
      margin-top: 100px;
    }

    @include tablet-basic {
      padding: 40px 200px 40px 200px;

      .Title {
        font-size: 16px;
      }
      .SpeakersWrap {
        margin-top: 32px;
      }
    }
    @include mobile-basic {
      max-width: 360px;
      padding: 40px 32px;
    }
  }
}
