@import 'variables';
@import 'mixins';

.FooterSection {
  position: relative;

  .Content {
    position: relative;
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 0 172px;
    text-align: center;

    .Title {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.44;
      color: #1e1e21;
      z-index: 3;
    }
    .Button {
      margin-top: 72px;
      width: 300px;
      padding: 20px;
      background: $main-color;
      color: #fff;
      border: 0;
      cursor: pointer;
      border-radius: 4px;
      z-index: 3;
      font-size: 18px;
    }
    .ImageCut1 {
      width: 16.6992%;
      top: 65px;
      left: 1.75781%;
      transform: translate3d(-60px, 0, 0);
    }
    .ImageCut2 {
      width: 15.42968%;
      left: 19.04296%;
      bottom: 10px;
      transform: translate3d(80px, 0, 0);
    }
    .ImageCut3 {
      width: 7.03125%;
      top: -8%;
      right: 16.40625%;
      transform: translate3d(-20px, 0, 0);
    }
    .ImageCut4 {
      width: 16.6015625%;
      right: 14.45312%;
      bottom: 0.58593%;
      transform: translate3d(60px, 0, 0);
    }
    .ImageCut5 {
      width: 15.33203%;
      right: 0.58593%;
      top: 50%;
      transform: translate3d(20px, -40%, 0);
    }
    .ImageCut6,
    .ImageCut7 {
      display: none;
    }
    img {
      position: absolute;
      opacity: .3;
      transition: transform .5s ease-out, opacity .3s;
      pointer-events: none;
    }
  }

  &.appear {
    .Content .ImageCut1,
    .Content .ImageCut2,
    .Content .ImageCut3,
    .Content .ImageCut4,
    .Content .ImageCut6,
    .Content .ImageCut7 {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    .Content .ImageCut5 {
      transform: translate3d(0, -40%, 0);
      opacity: 1;
    }
  }

  @include mobile-basic {
    .Content {
      padding: 132px 32px 172px;

      .Title {
        font-size: 16px;
        word-break: keep-all;
        line-height: 1.63;
      }
      .Button {
        display: none;
      }
      .ImageCut1 {
        width: 82px;
        top: 29px;
        left: 0;
        transform: translate3d(-30px, 0, 0);
      }
      .ImageCut3 {
        width: 46px;
        top: -18px;
        right: 28px;
        transform: translate3d(-20px, 0, 0);
      }
      .ImageCut6 {
        width: 80px;
        left: 54px;
        bottom: 12px;
        transform: translate3d(40px, 0, 0);
        display: block;
      }
      .ImageCut7 {
        width: 96px;
        right: 0;
        bottom: 54px;
        transform: translate3d(20px, 0, 0);
        display: block;
      }
      .ImageCut2,
      .ImageCut4,
      .ImageCut5 {
        display: none;
      }
    }
  }
}
