// ------------------------------------- //
// Style of Variables
// ------------------------------------- //

// Colors
$main-color: #a821d2;
$sub-color: #ffeb3b;
$font-color: #333;

// Layouts
$tablet-basic-width: 1024px;
$tablet-small-width: 960px;
$mobile-basic-width: 640px;
$mobile-small-width: 320px;
