@import 'variables';

.TrackPair {
  .LabelWrap {
    margin-top: 52px;

    .Label {
      display: inline-block;
      padding: 20px 128px;
      font-size: 18px;
      font-weight: 700;
      color: $main-color;
      border-bottom: 1px solid $main-color;

      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
    }
  }
  .SessionWrap {
    padding-top: 52px;
  }
}
