@import 'variables';
@import 'mixins';

.SpaceShuttle {
  position: absolute;
  width: 577px;
  left: 400px;
  bottom: -94px;
  font-size: 0;
  z-index: 2;
  pointer-events: none;

  .Shuttle {
    width: 100%;
  }
  // 1154 x 1196
  .Star {
    position: absolute;
    z-index: -1;

    &.Shiny {
      animation-name: shiny;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    & > img { width: 100%; }
  }
  // 138 x 179, 49
  .Star1 {
    left: 12%;
    top: 15%;
    width: 3.8%;
  }
  // 336 x 274, 58
  .Star2 {
    left: 29%;
    top: 23%;
    width: 5%;
  }
  // 215 x 511, 38
  .Star3 {
    left: 18.6%;
    top: 42.7%;
    width: 3.2%;
  }
  // 869 x 252, 26
  .Star4 {
    left: 75.3%;
    top: 21%;
    width: 2.2%;
  }
  // 935 x 423, 54
  .Star5 {
    left: 81%;
    top: 35.3%;
    width: 4.6%
  }
  // 1050 x 243, 27
  .Star6 {
    left: 91%;
    top: 20%;
    width: 2.3%
  }
  @include mobile-basic {
    width: 70%;
    left: auto;
    right: -40px;
    bottom: -72px;
    z-index: 2;
  }
  @keyframes shiny {
    0% {opacity: 1; transform: scale(1);}
    50% {opacity: 0; transform: scale(0.4);}
    100% {opacity: 1; transform: scale(1);}
  }
}
