@import 'variables';
@import 'mixins';

.SpaceShuttle {
  position: absolute;
  width: 577px;
  left: 400px;
  bottom: -94px;
  font-size: 0;
  z-index: 2;
  pointer-events: none;

  .Shuttle {
    width: 100%;
  }
  .Star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate3d(50%, 70%, 0);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    .Sprite {
      background-image: url('/static/images/pages/hero/star-sprite.png');
      background-size: 34px 153px;
    }
  }
  .Star1 {
    animation-name: star1;

    & > .Sprite {
      width: 23px;
      height: 19px;
      background-position: 0 -0px;
    }
  }
  .Star2 {
    animation-name: star2;

    & > .Sprite {
      width: 34px;
      height: 37px;
      background-position: 0 -19px;
    }
  }
  .Star3 {
    animation-name: star3;

    & > .Sprite {
      width: 23px;
      height: 27px;
      background-position: 0 -56px;
    }
  }
  .Star4 {
    animation-name: star4;

    & > .Sprite {
      width: 17px;
      height: 19px;
      background-position: 0 -101px;
    }
  }
  .Star5 {
    animation-name: star5;

    & > .Sprite {
      width: 30px;
      height: 33px;
      background-position: 0 -120px;
    }
  }
  .Star6 {
    animation-name: star6;

    & > .Sprite {
      width: 18px;
      height: 18px;
      background-position: 0 -83px;
    }
  }
  @include mobile-basic {
    width: 70%;
    left: auto;
    right: -40px;
    bottom: -72px;
    z-index: 2;

    .Star > .Sprite {
      transform: scale(0.7);
    }
  }
  @keyframes shiny {
    0% {opacity: 1; transform: scale(1);}
    50% {opacity: 0; transform: scale(0.4);}
    100% {opacity: 1; transform: scale(1);}
  }
  @keyframes star1 {
    0% {transform: translate3d(50%, 70%, 0);}
    100% {transform: translate3d(12%, 15%, 0);}
  }
  @keyframes star2 {
    0% {transform: translate3d(50%, 70%, 0);}
    100% {transform: translate3d(29%, 23%, 0);}
  }
  @keyframes star3 {
    0% {transform: translate3d(50%, 70%, 0);}
    100% {transform: translate3d(18.6%, 42.7%, 0);}
  }
  @keyframes star4 {
    0% {transform: translate3d(50%, 70%, 0);}
    100% {transform: translate3d(75.3%, 21%, 0);}
  }
  @keyframes star5 {
    0% {transform: translate3d(50%, 70%, 0);}
    100% {transform: translate3d(81%, 35.3%, 0);}
  }
  @keyframes star6 {
    0% {transform: translate3d(50%, 70%, 0);}
    100% {transform: translate3d(91%, 20%, 0);}
  }
}
