@import '../../../../styles/variables';

.SessionItem {
  position: relative;

  .TimeIndicator {
    position: relative;
    float: left;
    width: 100px;
    text-align: center;
    padding-bottom: 80px;

    .Indicator {
      width: 12px;
      height: 12px;
      margin: 0 auto;
      border-radius: 50%;
      background: $main-color;
    }
    .Time {
      margin-top: 8px;
      color: $main-color;
      font-size: 12px;
      font-weight: 700;
    }
    .Line {
      position: absolute;
      top: 44px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: $main-color;
      margin: 0 auto;
    }
  }
  .Speaker {
    float: left;
    margin-left: 8px;
    font-size: 14px;

    .Title {
      font-weight: 700;
      color: #22032b;
    }
    .Name {
      margin-top: 12px;
      color: $main-color;
    }
  }
  .LaunchTitle {
    margin-left: 8px;
    color: #22032b;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
  }
  &:last-child {
    .TimeIndicator {
      padding-bottom: 20px;

      .Line {
        display: none;
      }
    }
  }
}
