@import 'variables';
@import 'mixins';

.FlipClock {
  position: relative;
  display: inline-block;
  font-size: 0;

  .Title {
    font-size: 14px;
    color: #ffeb3b;
    letter-spacing: 1.6px;
  }
  .DigitWrap {
    margin-top: 8px;
  }

  @include mobile-basic {
    .Title {
      font-size: 12px;
    }
  }
}
