@import 'variables';
@import 'mixins';

.SponsorLogo {
  display: inline-block;
  max-width: 100px;
  margin-top: 40px;
  padding: 0 10px;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
  .Anchor {
    display: block;
    width: 100%;
    height: 100%;
  }
  .Image {
    width: 100%;
  }
}
