._1x2gl {
  width: 100%;
  height: 52px;
  overflow: hidden;
  display: none; }
  ._1x2gl ._1U4yy {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 52px;
    background-color: #7f00a6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    opacity: .01;
    -webkit-transition: opacity .2s, -webkit-transform .3s ease-out;
    transition: opacity .2s, -webkit-transform .3s ease-out;
    transition: transform .3s ease-out, opacity .2s;
    transition: transform .3s ease-out, opacity .2s, -webkit-transform .3s ease-out;
    z-index: 3; }
    ._1x2gl ._1U4yy._2zqRK {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1; }
  @media (max-width: 640px) {
    ._1x2gl {
      display: block; } }

._2maID {
  position: relative; }
  ._2maID ._1BwXe {
    position: relative;
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 0 172px;
    text-align: center; }
    ._2maID ._1BwXe ._2jn_8 {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.44;
      color: #1e1e21;
      z-index: 3; }
    ._2maID ._1BwXe .-u5cJ {
      margin-top: 72px;
      width: 300px;
      padding: 20px;
      background: #a821d2;
      color: #fff;
      border: 0;
      cursor: pointer;
      border-radius: 4px;
      z-index: 3;
      font-size: 18px; }
    ._2maID ._1BwXe ._34VIA {
      width: 16.6992%;
      top: 65px;
      left: 1.75781%;
      -webkit-transform: translate3d(-60px, 0, 0);
              transform: translate3d(-60px, 0, 0); }
    ._2maID ._1BwXe ._1KdcL {
      width: 15.42968%;
      left: 19.04296%;
      bottom: 10px;
      -webkit-transform: translate3d(80px, 0, 0);
              transform: translate3d(80px, 0, 0); }
    ._2maID ._1BwXe ._1KH3X {
      width: 7.03125%;
      top: -8%;
      right: 16.40625%;
      -webkit-transform: translate3d(-20px, 0, 0);
              transform: translate3d(-20px, 0, 0); }
    ._2maID ._1BwXe ._2fOiv {
      width: 16.6015625%;
      right: 14.45312%;
      bottom: 0.58593%;
      -webkit-transform: translate3d(60px, 0, 0);
              transform: translate3d(60px, 0, 0); }
    ._2maID ._1BwXe ._3dBUx {
      width: 15.33203%;
      right: 0.58593%;
      top: 50%;
      -webkit-transform: translate3d(20px, -40%, 0);
              transform: translate3d(20px, -40%, 0); }
    ._2maID ._1BwXe ._15PxY,
    ._2maID ._1BwXe .MEQMg {
      display: none; }
    ._2maID ._1BwXe img {
      position: absolute;
      opacity: .3;
      -webkit-transition: opacity .3s, -webkit-transform .5s ease-out;
      transition: opacity .3s, -webkit-transform .5s ease-out;
      transition: transform .5s ease-out, opacity .3s;
      transition: transform .5s ease-out, opacity .3s, -webkit-transform .5s ease-out;
      pointer-events: none; }
  ._2maID._1SZB4 ._1BwXe ._34VIA,
  ._2maID._1SZB4 ._1BwXe ._1KdcL,
  ._2maID._1SZB4 ._1BwXe ._1KH3X,
  ._2maID._1SZB4 ._1BwXe ._2fOiv,
  ._2maID._1SZB4 ._1BwXe ._15PxY,
  ._2maID._1SZB4 ._1BwXe .MEQMg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
  ._2maID._1SZB4 ._1BwXe ._3dBUx {
    -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
    opacity: 1; }
  @media (max-width: 640px) {
    ._2maID ._1BwXe {
      padding: 132px 32px 172px; }
      ._2maID ._1BwXe ._2jn_8 {
        font-size: 16px;
        word-break: keep-all;
        line-height: 1.63; }
      ._2maID ._1BwXe .-u5cJ {
        display: none; }
      ._2maID ._1BwXe ._34VIA {
        width: 82px;
        top: 29px;
        left: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
                transform: translate3d(-30px, 0, 0); }
      ._2maID ._1BwXe ._1KH3X {
        width: 46px;
        top: -18px;
        right: 28px;
        -webkit-transform: translate3d(-20px, 0, 0);
                transform: translate3d(-20px, 0, 0); }
      ._2maID ._1BwXe ._15PxY {
        width: 80px;
        left: 54px;
        bottom: 12px;
        -webkit-transform: translate3d(40px, 0, 0);
                transform: translate3d(40px, 0, 0);
        display: block; }
      ._2maID ._1BwXe .MEQMg {
        width: 96px;
        right: 0;
        bottom: 54px;
        -webkit-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
        display: block; }
      ._2maID ._1BwXe ._1KdcL,
      ._2maID ._1BwXe ._2fOiv,
      ._2maID ._1BwXe ._3dBUx {
        display: none; } }

.y2lSy {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100px;
  font-size: 0; }
  .y2lSy:first-child {
    margin-right: 12px; }
  .y2lSy ._19T8M, .y2lSy .lN3Jl {
    position: absolute;
    width: 60px;
    height: 50px; }
  .y2lSy ._1iEq6, .y2lSy ._2iCmR, .y2lSy ._3P0v7 {
    position: absolute;
    overflow: hidden;
    background: white;
    width: 60px;
    height: 50px;
    color: #7f00a6;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .y2lSy ._19T8M {
    line-height: 102px; }
    .y2lSy ._19T8M ._1iEq6, .y2lSy ._19T8M ._3P0v7 {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .y2lSy ._19T8M ._2iCmR {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
  .y2lSy .lN3Jl {
    top: 50px;
    margin-top: 2px;
    line-height: 0; }
    .y2lSy .lN3Jl ._1iEq6, .y2lSy .lN3Jl ._2iCmR {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
  .y2lSy ._1iEq6 {
    z-index: 2;
    -webkit-transform-origin: 0 50px;
            transform-origin: 0 50px;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
    .y2lSy ._1iEq6._-2h2K {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
      -webkit-transition: -webkit-transform 700ms;
      transition: -webkit-transform 700ms;
      transition: transform 700ms;
      transition: transform 700ms, -webkit-transform 700ms; }
  .y2lSy ._2iCmR {
    z-index: 3;
    top: 52px;
    -webkit-transform-origin: 0 -1px;
            transform-origin: 0 -1px;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    line-height: 0; }
    .y2lSy ._2iCmR._-2h2K {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transition: -webkit-transform 700ms;
      transition: -webkit-transform 700ms;
      transition: transform 700ms;
      transition: transform 700ms, -webkit-transform 700ms; }
  .y2lSy ._3P0v7 {
    z-index: 1; }
  @media (max-width: 640px) {
    .y2lSy {
      width: 48px;
      height: 80px; }
      .y2lSy:first-child {
        margin-right: 10px; }
      .y2lSy ._19T8M, .y2lSy .lN3Jl {
        width: 48px;
        height: 40px; }
      .y2lSy ._1iEq6, .y2lSy ._2iCmR, .y2lSy ._3P0v7 {
        width: 48px;
        height: 40px;
        font-size: 55px; }
      .y2lSy ._19T8M {
        line-height: 82px; }
      .y2lSy .lN3Jl {
        top: 40px; }
      .y2lSy ._1iEq6 {
        -webkit-transform-origin: 0 40px;
                transform-origin: 0 40px; }
      .y2lSy ._2iCmR {
        z-index: 3;
        top: 42px; } }

._2N6rL {
  position: relative;
  display: inline-block;
  font-size: 0; }
  ._2N6rL ._2q8Ec {
    font-size: 14px;
    color: #ffeb3b;
    letter-spacing: 1.6px; }
  ._2N6rL .Nt8fn {
    margin-top: 8px; }
  @media (max-width: 640px) {
    ._2N6rL ._2q8Ec {
      font-size: 12px; } }

._2bLaS {
  position: absolute;
  width: 577px;
  left: 400px;
  bottom: -94px;
  font-size: 0;
  z-index: 2;
  pointer-events: none; }
  ._2bLaS ._1bXUz {
    width: 100%; }
  ._2bLaS ._1jhti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: translate3d(50%, 70%, 0);
            transform: translate3d(50%, 70%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    ._2bLaS ._1jhti .Qa7h4 {
      background-image: url("/static/images/pages/hero/star-sprite.png");
      background-size: 34px 153px; }
  ._2bLaS .UIam2._2_DBX {
    -webkit-transform: translate3d(12%, 15%, 0);
            transform: translate3d(12%, 15%, 0); }
  ._2bLaS .UIam2 > .Qa7h4 {
    width: 23px;
    height: 19px;
    background-position: 0 -0px; }
  ._2bLaS ._1_zNt._2_DBX {
    -webkit-transform: translate3d(29%, 23%, 0);
            transform: translate3d(29%, 23%, 0); }
  ._2bLaS ._1_zNt > .Qa7h4 {
    width: 34px;
    height: 37px;
    background-position: 0 -19px; }
  ._2bLaS ._3SJW6._2_DBX {
    -webkit-transform: translate3d(18.6%, 42.7%, 0);
            transform: translate3d(18.6%, 42.7%, 0); }
  ._2bLaS ._3SJW6 > .Qa7h4 {
    width: 23px;
    height: 27px;
    background-position: 0 -56px; }
  ._2bLaS ._1IdXw._2_DBX {
    -webkit-transform: translate3d(75.3%, 21%, 0);
            transform: translate3d(75.3%, 21%, 0); }
  ._2bLaS ._1IdXw > .Qa7h4 {
    width: 17px;
    height: 19px;
    background-position: 0 -101px; }
  ._2bLaS ._3Tt0q._2_DBX {
    -webkit-transform: translate3d(81%, 35.3%, 0);
            transform: translate3d(81%, 35.3%, 0); }
  ._2bLaS ._3Tt0q > .Qa7h4 {
    width: 30px;
    height: 33px;
    background-position: 0 -120px; }
  ._2bLaS ._2eLx8._2_DBX {
    -webkit-transform: translate3d(91%, 20%, 0);
            transform: translate3d(91%, 20%, 0); }
  ._2bLaS ._2eLx8 > .Qa7h4 {
    width: 18px;
    height: 18px;
    background-position: 0 -83px; }
  @media (max-width: 640px) {
    ._2bLaS {
      width: 70%;
      left: auto;
      right: -40px;
      bottom: -72px;
      z-index: 2; }
      ._2bLaS ._1jhti > .Qa7h4 {
        -webkit-transform: scale(0.7);
                transform: scale(0.7); } }

._327bZ {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#110a5a), to(#07042e));
  background-image: linear-gradient(to bottom, #110a5a, #07042e); }
  ._327bZ .vWUa3 {
    position: relative;
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 86px 136px;
    z-index: 2; }
    ._327bZ .vWUa3 ._3uHpH {
      font-size: 0; }
      ._327bZ .vWUa3 ._3uHpH img {
        width: 120px; }
    ._327bZ .vWUa3 ._1Lukj {
      position: relative;
      margin-top: 40px; }
      ._327bZ .vWUa3 ._1Lukj ._1HylN {
        margin-bottom: 20px; }
      ._327bZ .vWUa3 ._1Lukj .RsaTo {
        position: relative;
        display: inline-block;
        padding: 34px 16px;
        width: 41px;
        height: 100px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        ._327bZ .vWUa3 ._1Lukj .RsaTo ._3UuCa {
          position: absolute;
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white; }
          ._327bZ .vWUa3 ._1Lukj .RsaTo ._3UuCa:first-child {
            top: 34px; }
          ._327bZ .vWUa3 ._1Lukj .RsaTo ._3UuCa:last-child {
            bottom: 34px; }
    ._327bZ .vWUa3 .aiAbl {
      margin-top: 72px;
      font-size: 0; }
      ._327bZ .vWUa3 .aiAbl a {
        display: block; }
      ._327bZ .vWUa3 .aiAbl button {
        width: 218px;
        padding: 18px 0 20px 0;
        background: #ffeb3b;
        color: #000; }
    ._327bZ .vWUa3 ._2lmox {
      display: inline-block;
      min-width: 218px;
      margin-top: 6px;
      text-align: center;
      font-size: 11px;
      line-height: 11px;
      color: #fff;
      opacity: .9; }
      ._327bZ .vWUa3 ._2lmox span:last-child {
        display: none; }
    @media (max-width: 640px) {
      ._327bZ .vWUa3 {
        padding: 32px 24px 90px; }
        ._327bZ .vWUa3 ._3uHpH img {
          width: 72px; }
        ._327bZ .vWUa3 ._1Lukj ._1HylN {
          margin-bottom: 8px; }
        ._327bZ .vWUa3 ._1Lukj .RsaTo {
          padding: 26px 13px;
          width: 32px;
          height: 80px; }
          ._327bZ .vWUa3 ._1Lukj .RsaTo ._3UuCa:first-child {
            top: 26px; }
          ._327bZ .vWUa3 ._1Lukj .RsaTo ._3UuCa:last-child {
            bottom: 26px; }
        ._327bZ .vWUa3 .mGicY {
          width: 70%;
          left: auto;
          right: -40px;
          bottom: -72px;
          z-index: 2; }
        ._327bZ .vWUa3 .aiAbl {
          margin-top: 40px; }
          ._327bZ .vWUa3 .aiAbl button {
            width: 172px;
            padding: 17px 0; }
        ._327bZ .vWUa3 ._2lmox {
          min-width: 172px;
          margin-top: 4px; }
          ._327bZ .vWUa3 ._2lmox span:first-child {
            display: none; }
          ._327bZ .vWUa3 ._2lmox span:last-child {
            display: block; } }
  ._327bZ .ezFS5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    ._327bZ .ezFS5 > img {
      max-width: 100%; }
    ._327bZ .ezFS5 ._19cS3 {
      position: absolute;
      top: 0;
      right: 0; }
    ._327bZ .ezFS5 .fhHnJ {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
  @media (max-width: 640px) {
    ._327bZ .ezFS5 > img {
      max-width: 60%; } }

._3Tk67 {
  padding: 18px 40px 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer; }

.EI8oI ._1mng0 {
  -webkit-transform: translate3d(0, 70px, 0);
          transform: translate3d(0, 70px, 0);
  -webkit-transition: opacity 1.2s, -webkit-transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1);
  transition: opacity 1.2s, -webkit-transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1);
  transition: transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1), opacity 1.2s;
  transition: transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1), opacity 1.2s, -webkit-transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1);
  opacity: .01; }
  .EI8oI ._1mng0._2FRjf {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }

._3y_m3 {
  position: relative;
  background: white; }
  ._3y_m3 ._25bQY {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 180px 86px 100px 86px; }
    ._3y_m3 ._25bQY ._2kNyL {
      float: left;
      width: 42.2%; }
      ._3y_m3 ._25bQY ._2kNyL span {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #000; }
    ._3y_m3 ._25bQY ._2Qtgp {
      float: right;
      width: 57.7%; }
      ._3y_m3 ._25bQY ._2Qtgp > a {
        text-decoration: none; }
      ._3y_m3 ._25bQY ._2Qtgp ._16XOJ {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        color: #a821d2; }
      ._3y_m3 ._25bQY ._2Qtgp ._2TCCG {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        margin-top: 40px;
        color: #333; }
      ._3y_m3 ._25bQY ._2Qtgp .y6EAQ {
        font-size: 14px;
        margin-top: 16px;
        line-height: 1.5;
        color: #333; }
      ._3y_m3 ._25bQY ._2Qtgp ._1Led- {
        margin-top: 40px; }
      ._3y_m3 ._25bQY ._2Qtgp ._2y4f- {
        margin-top: 20px; }
      ._3y_m3 ._25bQY ._2Qtgp ._1Led-, ._3y_m3 ._25bQY ._2Qtgp ._2y4f- {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        ._3y_m3 ._25bQY ._2Qtgp ._1Led- img, ._3y_m3 ._25bQY ._2Qtgp ._2y4f- img {
          width: 30px;
          height: 30px; }
        ._3y_m3 ._25bQY ._2Qtgp ._1Led- p, ._3y_m3 ._25bQY ._2Qtgp ._2y4f- p {
          font-size: 18px;
          font-weight: 700;
          color: #333;
          margin-left: 16px; }
      ._3y_m3 ._25bQY ._2Qtgp ._17pYN {
        margin-top: 80px; }
    @media (max-width: 640px) {
      ._3y_m3 ._25bQY {
        padding: 52px 24px 72px; }
        ._3y_m3 ._25bQY ._2kNyL {
          float: none;
          width: 100%;
          margin-bottom: 40px; }
          ._3y_m3 ._25bQY ._2kNyL span {
            font-size: 24px; }
        ._3y_m3 ._25bQY ._2Qtgp {
          float: none;
          width: 100%; }
          ._3y_m3 ._25bQY ._2Qtgp ._16XOJ {
            font-size: 16px; }
          ._3y_m3 ._25bQY ._2Qtgp ._2TCCG {
            margin-top: 32px; }
          ._3y_m3 ._25bQY ._2Qtgp .y6EAQ {
            margin-top: 24px; }
            ._3y_m3 ._25bQY ._2Qtgp .y6EAQ br {
              display: none; }
          ._3y_m3 ._25bQY ._2Qtgp ._1Led- {
            margin-top: 32px; }
          ._3y_m3 ._25bQY ._2Qtgp ._2y4f- {
            margin-top: 12px; }
          ._3y_m3 ._25bQY ._2Qtgp ._1Led- img, ._3y_m3 ._25bQY ._2Qtgp ._2y4f- img {
            width: 26px;
            height: 26px; }
          ._3y_m3 ._25bQY ._2Qtgp ._1Led- p, ._3y_m3 ._25bQY ._2Qtgp ._2y4f- p {
            font-size: 14px; }
          ._3y_m3 ._25bQY ._2Qtgp ._17pYN {
            display: none; } }

._24a3B {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  ._24a3B ._2T9UW {
    position: relative;
    width: 100px;
    text-align: center;
    padding-bottom: 80px;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px; }
    ._24a3B ._2T9UW ._1VWUw {
      width: 13px;
      height: 13px;
      margin: 3px auto 0;
      border-radius: 50%;
      background: #a821d2; }
    ._24a3B ._2T9UW ._34XoG {
      margin-top: 8px;
      color: #a821d2;
      font-size: 12px;
      font-weight: 700;
      white-space: nowrap; }
    ._24a3B ._2T9UW ._3lArI {
      position: absolute;
      top: 44px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: #a821d2;
      margin: 0 auto -3px; }
  ._24a3B ._20Kbg {
    margin-left: 8px;
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    ._24a3B ._20Kbg ._21QLs {
      font-weight: 700;
      color: #22032b;
      line-height: 16px;
      word-break: keep-all; }
    ._24a3B ._20Kbg ._11wku {
      margin-top: 5px; }
      ._24a3B ._20Kbg ._11wku a {
        text-decoration: none;
        color: #a821d2; }
  ._24a3B .yw-Yj {
    float: left;
    margin-left: 8px;
    color: #22032b;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700; }
  ._24a3B:last-child ._2T9UW {
    padding-bottom: 20px; }
    ._24a3B:last-child ._2T9UW ._3lArI {
      display: none; }

.LBwS1 ._2NB9_ {
  padding: 20px;
  margin-top: 52px;
  font-size: 18px;
  font-weight: 700;
  color: #a821d2;
  border-bottom: 1px solid #a821d2;
  text-align: center; }

.LBwS1 ._3NzV9 {
  padding: 32px 24px 0;
  max-width: 420px;
  margin: 0 auto; }

.Wjc6J {
  position: relative;
  padding-bottom: 60px; }
  .Wjc6J:last-child {
    padding-bottom: 0; }
  .Wjc6J:not(:first-child) {
    margin-top: 16px; }
  .Wjc6J ._3U9wW {
    width: calc(50% - 95px);
    font-size: 14px; }
    .Wjc6J ._3U9wW:nth-child(1) {
      float: left; }
      .Wjc6J ._3U9wW:nth-child(1) > div {
        text-align: right; }
    .Wjc6J ._3U9wW:nth-child(2) {
      float: right; }
      .Wjc6J ._3U9wW:nth-child(2) > div {
        text-align: left; }
    .Wjc6J ._3U9wW ._1a3tX {
      font-weight: 600;
      color: #22032b;
      word-break: keep-all; }
    .Wjc6J ._3U9wW ._1WIOe {
      margin-top: 5px; }
      .Wjc6J ._3U9wW ._1WIOe a {
        text-decoration: none;
        color: #a821d2; }
  .Wjc6J ._142LK {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center; }
    .Wjc6J ._142LK ._2g-DD {
      width: 12px;
      height: 12px;
      margin: 0 auto;
      border-radius: 50%;
      background: #a821d2; }
    .Wjc6J ._142LK ._3UHPX {
      margin-top: 8px;
      color: #a821d2;
      font-size: 12px;
      font-weight: 700; }
    .Wjc6J ._142LK ._6L0OR {
      color: #22032b;
      font-weight: 700;
      margin-top: 8px; }
  .Wjc6J ._28xqk {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #a821d2;
    margin: 0 auto; }
  .Wjc6J._3lMal > div:first-child {
    height: 100px; }
  .Wjc6J._3lMal ._28xqk {
    top: 100px; }
  .Wjc6J:last-child ._28xqk {
    display: none; }

._1i1fn ._1nKNK {
  margin-top: 52px; }
  ._1i1fn ._1nKNK ._1kSlb {
    display: inline-block;
    padding: 20px 128px;
    font-size: 18px;
    font-weight: 700;
    color: #a821d2;
    border-bottom: 1px solid #a821d2; }
    ._1i1fn ._1nKNK ._1kSlb:nth-child(1) {
      float: left; }
    ._1i1fn ._1nKNK ._1kSlb:nth-child(2) {
      float: right; }

._1i1fn ._1EXEO {
  padding-top: 52px; }

._336wZ {
  position: relative;
  background: #fff; }
  ._336wZ ._1qhrz {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 173px 120px; }
    ._336wZ ._1qhrz .jaTCx {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #a821d2;
      text-align: center; }
    ._336wZ ._1qhrz ._1T6tK {
      width: 330px;
      margin: 52px auto 0 auto;
      border-top: 1px solid #a821d2;
      border-bottom: 1px solid #a821d2; }
      ._336wZ ._1qhrz ._1T6tK ._1OBHz {
        height: 60px;
        line-height: 60px; }
        ._336wZ ._1qhrz ._1T6tK ._1OBHz:first-child {
          border-bottom: 1px solid #e6e5e7; }
        ._336wZ ._1qhrz ._1T6tK ._1OBHz ._2ytnK {
          width: 100px;
          float: left;
          font-size: 12px;
          font-weight: 600;
          color: #a821d2; }
        ._336wZ ._1qhrz ._1T6tK ._1OBHz ._1YRae {
          width: 230px;
          float: right;
          font-size: 14px;
          font-weight: 600;
          color: #22032b; }
    @media (max-width: 640px) {
      ._336wZ ._1qhrz {
        padding: 52px 24px 72px; }
        ._336wZ ._1qhrz .jaTCx {
          font-size: 16px;
          font-weight: 700; }
        ._336wZ ._1qhrz ._1T6tK {
          width: 280px; }
          ._336wZ ._1qhrz ._1T6tK ._1OBHz ._2ytnK {
            width: 85px; }
          ._336wZ ._1qhrz ._1T6tK ._1OBHz ._1YRae {
            width: 195px; } }

._3-uEG {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  visibility: hidden;
  -webkit-transition: visibility .2s;
  transition: visibility .2s; }
  ._3-uEG ._26jPW {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
    opacity: .01;
    background: #000;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  ._3-uEG ._3I_eL {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1003;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.82, 0, 0.99);
    transition: -webkit-transform 0.5s cubic-bezier(0, 0.82, 0, 0.99);
    transition: transform 0.5s cubic-bezier(0, 0.82, 0, 0.99);
    transition: transform 0.5s cubic-bezier(0, 0.82, 0, 0.99), -webkit-transform 0.5s cubic-bezier(0, 0.82, 0, 0.99); }
  ._3-uEG.zjHNl {
    visibility: visible; }
    ._3-uEG.zjHNl ._26jPW {
      opacity: .5; }
    ._3-uEG.zjHNl ._3I_eL {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }

._1WmKA {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 578px;
  height: 100%;
  padding: 60px 72px;
  background: white;
  font-size: 0;
  z-index: 1003; }
  ._1WmKA .GzkR6 img {
    width: 32px;
    height: 32px; }
  ._1WmKA ._3Dthq {
    margin-top: 80px; }
    ._1WmKA ._3Dthq ._3cd3d ._1pEmq {
      float: left; }
      ._1WmKA ._3Dthq ._3cd3d ._1pEmq img {
        width: 120px;
        height: 120px;
        border-radius: 50%; }
    ._1WmKA ._3Dthq ._3cd3d .OQ-lQ {
      float: left;
      margin: 60px 0 0 32px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      ._1WmKA ._3Dthq ._3cd3d .OQ-lQ ._1J0m4 {
        font-size: 20px;
        font-weight: 700;
        color: #333; }
      ._1WmKA ._3Dthq ._3cd3d .OQ-lQ ._2u0Dt {
        margin-top: 8px; }
        ._1WmKA ._3Dthq ._3cd3d .OQ-lQ ._2u0Dt a {
          font-size: 16px;
          font-weight: 700;
          color: #a821d2;
          text-decoration: none; }
    ._1WmKA ._3Dthq ._3xRgg {
      margin-top: 40px;
      font-size: 16px;
      color: #333; }
      ._1WmKA ._3Dthq ._3xRgg ._2-3dF {
        font-weight: 700; }
      ._1WmKA ._3Dthq ._3xRgg .LMVOy {
        margin-top: 4px; }
      ._1WmKA ._3Dthq ._3xRgg ._2RXau {
        margin-top: 24px;
        line-height: 1.5; }
  @media (max-width: 640px) {
    ._1WmKA {
      padding: 32px;
      max-width: 288px; }
      ._1WmKA .GzkR6 img {
        width: 20px;
        height: 20px; }
      ._1WmKA ._3Dthq {
        margin-top: 32px; }
        ._1WmKA ._3Dthq ._3cd3d ._1pEmq img {
          width: 72px;
          height: 72px; }
        ._1WmKA ._3Dthq ._3cd3d .OQ-lQ {
          margin: 36px 0 0 16px;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
          ._1WmKA ._3Dthq ._3cd3d .OQ-lQ ._2u0Dt {
            font-size: 13px; }
          ._1WmKA ._3Dthq ._3cd3d .OQ-lQ ._1J0m4 {
            margin-top: 4px;
            font-size: 16px; }
        ._1WmKA ._3Dthq ._3xRgg {
          margin-top: 24px;
          font-size: 14px; } }

.kQVs0 {
  position: relative;
  width: 120px;
  font-size: 0;
  text-decoration: none; }
  .kQVs0 ._2nId9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .kQVs0 ._2nId9:hover .NUBgb > svg circle {
      stroke-dashoffset: 0; }
    .kQVs0 ._2nId9:hover ._2g0hn span {
      background-color: #ffeb3b; }
    .kQVs0 ._2nId9 .NUBgb {
      position: relative; }
      .kQVs0 ._2nId9 .NUBgb > svg {
        position: absolute;
        top: 0;
        right: 0; }
        .kQVs0 ._2nId9 .NUBgb > svg circle {
          stroke-dashoffset: 341;
          -webkit-transition: stroke-dashoffset 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: stroke-dashoffset 1.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .kQVs0 ._2nId9 .NUBgb > img {
        width: 100%;
        height: 120px;
        border-radius: 50%; }
    .kQVs0 ._2nId9 ._2g0hn {
      margin-top: 16px;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: #333; }
      .kQVs0 ._2nId9 ._2g0hn span {
        padding: 0 12px;
        background-color: transparent;
        -webkit-transition: background-color 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: background-color 1.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .kQVs0 ._2nId9 .vyy72 {
      position: relative;
      margin-top: 42px;
      height: 14px;
      font-size: 14px;
      line-height: 1;
      color: #a821d2;
      font-weight: normal; }
    .kQVs0 ._2nId9 .vyy72 span, .kQVs0 ._2nId9 ._2g0hn span {
      position: absolute;
      display: block;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      white-space: nowrap;
      text-align: center; }
  @media (max-width: 1024px) {
    .kQVs0 {
      width: 90px; }
      .kQVs0 ._2nId9 .NUBgb > img {
        height: 90px; }
      .kQVs0 ._2nId9 ._2g0hn span {
        padding: 0; } }
  @media (max-width: 960px) {
    .kQVs0 {
      width: 60px; }
      .kQVs0 ._2nId9 .NUBgb > img {
        height: 60px; } }
  @media (max-width: 640px) {
    .kQVs0 ._2nId9 .vyy72 {
      font-size: 11px; }
    .kQVs0 ._2nId9 ._2g0hn {
      font-size: 14px; } }

._3urQG {
  position: relative;
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  ._3urQG:last-child {
    margin-bottom: 0; }

._2-hTv {
  position: relative;
  background: #f6f6f6; }
  ._2-hTv ._3c5Fr {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 192px 140px; }
    ._2-hTv ._3c5Fr ._2nVN9 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #a821d2;
      text-align: center; }
    ._2-hTv ._3c5Fr .xAe-A {
      margin-top: 100px; }
    @media (max-width: 1024px) {
      ._2-hTv ._3c5Fr {
        padding: 120px 200px 140px; } }
    @media (max-width: 640px) {
      ._2-hTv ._3c5Fr {
        max-width: 360px;
        padding: 52px 32px 72px; }
        ._2-hTv ._3c5Fr ._2nVN9 {
          font-size: 16px; }
        ._2-hTv ._3c5Fr .xAe-A {
          margin-top: 32px; } }

.um7hC {
  display: inline-block;
  max-width: 100px;
  margin-top: 40px;
  padding: 0 10px;
  vertical-align: middle; }
  .um7hC:last-child {
    margin-right: 0; }
  .um7hC ._2rV5o {
    display: block;
    width: 100%;
    height: 100%; }
  .um7hC ._3HuqL {
    width: 100%; }

._1Y9Ax {
  position: relative;
  background: #f6f6f6; }
  ._1Y9Ax .cXrr_ {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 86px; }
    ._1Y9Ax .cXrr_ ._1j4uH {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #a821d2;
      text-align: center; }
    ._1Y9Ax .cXrr_ ._3v3Ix {
      display: table;
      margin: 16px auto 0 auto;
      font-size: 14px;
      line-height: 21px;
      color: #958b98;
      text-align: left;
      word-break: keep-all; }
      ._1Y9Ax .cXrr_ ._3v3Ix span:nth-child(3) {
        display: inline-block;
        text-overflow: ellipsis; }
      ._1Y9Ax .cXrr_ ._3v3Ix br:nth-child(2) {
        display: none; }
      ._1Y9Ax .cXrr_ ._3v3Ix br:nth-child(4) {
        display: block; }
    ._1Y9Ax .cXrr_ ._3yVzA ._2y9zr, ._1Y9Ax .cXrr_ ._3yVzA ._3cyGc, ._1Y9Ax .cXrr_ ._3yVzA ._2TR8K, ._1Y9Ax .cXrr_ ._3yVzA ._2UpdL {
      position: relative; }
    ._1Y9Ax .cXrr_ ._3yVzA ._1pzUb {
      margin-top: 52px; }
      ._1Y9Ax .cXrr_ ._3yVzA ._1pzUb ._2m-7r {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #22032b;
        text-align: center; }
      ._1Y9Ax .cXrr_ ._3yVzA ._1pzUb .Ho6G_ {
        padding: 0;
        text-align: center;
        list-style: none;
        font-size: 0; }
  @media (max-width: 640px) {
    ._1Y9Ax .cXrr_ {
      padding: 52px 24px 72px; }
      ._1Y9Ax .cXrr_ ._1j4uH {
        font-size: 16px; }
      ._1Y9Ax .cXrr_ ._3v3Ix {
        font-size: 12px;
        text-align: center; }
        ._1Y9Ax .cXrr_ ._3v3Ix span:nth-child(1) {
          display: inline-block;
          text-overflow: ellipsis; }
        ._1Y9Ax .cXrr_ ._3v3Ix span:nth-child(3) {
          display: inline;
          text-overflow: unset; }
        ._1Y9Ax .cXrr_ ._3v3Ix br:nth-child(2) {
          display: block; }
        ._1Y9Ax .cXrr_ ._3v3Ix br:nth-child(4) {
          display: none; }
      ._1Y9Ax .cXrr_ ._3yVzA ._1pzUb ._2m-7r {
        font-size: 14px; } }

._1ZaE6 {
  position: relative;
  overflow: hidden; }

