.FixedButton-1x2gl {
  width: 100%;
  height: 52px;
  overflow: hidden;
  display: none; }
  .FixedButton-1x2gl .Anchor-1U4yy {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 52px;
    background-color: #7f00a6;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    opacity: .01;
    -webkit-transition: opacity .2s, -webkit-transform .3s ease-out;
    transition: opacity .2s, -webkit-transform .3s ease-out;
    transition: transform .3s ease-out, opacity .2s;
    transition: transform .3s ease-out, opacity .2s, -webkit-transform .3s ease-out;
    z-index: 3; }
    .FixedButton-1x2gl .Anchor-1U4yy.Show-2zqRK {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      opacity: 1; }
  @media (max-width: 640px) {
    .FixedButton-1x2gl {
      display: block; } }

.FooterSection-2maID {
  position: relative; }
  .FooterSection-2maID .Content-1BwXe {
    position: relative;
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 0 172px;
    text-align: center; }
    .FooterSection-2maID .Content-1BwXe .Title-2jn_8 {
      position: relative;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.44;
      color: #1e1e21;
      z-index: 3; }
    .FooterSection-2maID .Content-1BwXe .Button--u5cJ {
      margin-top: 72px;
      width: 300px;
      padding: 20px;
      background: #a821d2;
      color: #fff;
      border: 0;
      cursor: pointer;
      border-radius: 4px;
      z-index: 3;
      font-size: 18px; }
    .FooterSection-2maID .Content-1BwXe .ImageCut1-34VIA {
      width: 16.6992%;
      top: 65px;
      left: 1.75781%;
      -webkit-transform: translate3d(-60px, 0, 0);
              transform: translate3d(-60px, 0, 0); }
    .FooterSection-2maID .Content-1BwXe .ImageCut2-1KdcL {
      width: 15.42968%;
      left: 19.04296%;
      bottom: 10px;
      -webkit-transform: translate3d(80px, 0, 0);
              transform: translate3d(80px, 0, 0); }
    .FooterSection-2maID .Content-1BwXe .ImageCut3-1KH3X {
      width: 7.03125%;
      top: -8%;
      right: 16.40625%;
      -webkit-transform: translate3d(-20px, 0, 0);
              transform: translate3d(-20px, 0, 0); }
    .FooterSection-2maID .Content-1BwXe .ImageCut4-2fOiv {
      width: 16.6015625%;
      right: 14.45312%;
      bottom: 0.58593%;
      -webkit-transform: translate3d(60px, 0, 0);
              transform: translate3d(60px, 0, 0); }
    .FooterSection-2maID .Content-1BwXe .ImageCut5-3dBUx {
      width: 15.33203%;
      right: 0.58593%;
      top: 50%;
      -webkit-transform: translate3d(20px, -40%, 0);
              transform: translate3d(20px, -40%, 0); }
    .FooterSection-2maID .Content-1BwXe .ImageCut6-15PxY,
    .FooterSection-2maID .Content-1BwXe .ImageCut7-MEQMg {
      display: none; }
    .FooterSection-2maID .Content-1BwXe img {
      position: absolute;
      opacity: .3;
      -webkit-transition: opacity .3s, -webkit-transform .5s ease-out;
      transition: opacity .3s, -webkit-transform .5s ease-out;
      transition: transform .5s ease-out, opacity .3s;
      transition: transform .5s ease-out, opacity .3s, -webkit-transform .5s ease-out;
      pointer-events: none; }
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut1-34VIA,
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut2-1KdcL,
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut3-1KH3X,
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut4-2fOiv,
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut6-15PxY,
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut7-MEQMg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }
  .FooterSection-2maID.appear-1SZB4 .Content-1BwXe .ImageCut5-3dBUx {
    -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
    opacity: 1; }
  @media (max-width: 640px) {
    .FooterSection-2maID .Content-1BwXe {
      padding: 132px 32px 172px; }
      .FooterSection-2maID .Content-1BwXe .Title-2jn_8 {
        font-size: 16px;
        word-break: keep-all;
        line-height: 1.63; }
      .FooterSection-2maID .Content-1BwXe .Button--u5cJ {
        display: none; }
      .FooterSection-2maID .Content-1BwXe .ImageCut1-34VIA {
        width: 82px;
        top: 29px;
        left: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
                transform: translate3d(-30px, 0, 0); }
      .FooterSection-2maID .Content-1BwXe .ImageCut3-1KH3X {
        width: 46px;
        top: -18px;
        right: 28px;
        -webkit-transform: translate3d(-20px, 0, 0);
                transform: translate3d(-20px, 0, 0); }
      .FooterSection-2maID .Content-1BwXe .ImageCut6-15PxY {
        width: 80px;
        left: 54px;
        bottom: 12px;
        -webkit-transform: translate3d(40px, 0, 0);
                transform: translate3d(40px, 0, 0);
        display: block; }
      .FooterSection-2maID .Content-1BwXe .ImageCut7-MEQMg {
        width: 96px;
        right: 0;
        bottom: 54px;
        -webkit-transform: translate3d(20px, 0, 0);
                transform: translate3d(20px, 0, 0);
        display: block; }
      .FooterSection-2maID .Content-1BwXe .ImageCut2-1KdcL,
      .FooterSection-2maID .Content-1BwXe .ImageCut4-2fOiv,
      .FooterSection-2maID .Content-1BwXe .ImageCut5-3dBUx {
        display: none; } }

.Digit-y2lSy {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100px;
  font-size: 0; }
  .Digit-y2lSy:first-child {
    margin-right: 12px; }
  .Digit-y2lSy .Top-19T8M, .Digit-y2lSy .Bottom-lN3Jl {
    position: absolute;
    width: 60px;
    height: 50px; }
  .Digit-y2lSy .Front-1iEq6, .Digit-y2lSy .Back-2iCmR, .Digit-y2lSy .Next-3P0v7 {
    position: absolute;
    overflow: hidden;
    background: white;
    width: 60px;
    height: 50px;
    color: #7f00a6;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .Digit-y2lSy .Top-19T8M {
    line-height: 102px; }
    .Digit-y2lSy .Top-19T8M .Front-1iEq6, .Digit-y2lSy .Top-19T8M .Next-3P0v7 {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .Digit-y2lSy .Top-19T8M .Back-2iCmR {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
  .Digit-y2lSy .Bottom-lN3Jl {
    top: 50px;
    margin-top: 2px;
    line-height: 0; }
    .Digit-y2lSy .Bottom-lN3Jl .Front-1iEq6, .Digit-y2lSy .Bottom-lN3Jl .Back-2iCmR {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
  .Digit-y2lSy .Front-1iEq6 {
    z-index: 2;
    -webkit-transform-origin: 0 50px;
            transform-origin: 0 50px;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
    .Digit-y2lSy .Front-1iEq6.Flip--2h2K {
      -webkit-transform: rotateX(180deg);
              transform: rotateX(180deg);
      -webkit-transition: -webkit-transform 700ms;
      transition: -webkit-transform 700ms;
      transition: transform 700ms;
      transition: transform 700ms, -webkit-transform 700ms; }
  .Digit-y2lSy .Back-2iCmR {
    z-index: 3;
    top: 52px;
    -webkit-transform-origin: 0 -1px;
            transform-origin: 0 -1px;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    line-height: 0; }
    .Digit-y2lSy .Back-2iCmR.Flip--2h2K {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transition: -webkit-transform 700ms;
      transition: -webkit-transform 700ms;
      transition: transform 700ms;
      transition: transform 700ms, -webkit-transform 700ms; }
  .Digit-y2lSy .Next-3P0v7 {
    z-index: 1; }
  @media (max-width: 640px) {
    .Digit-y2lSy {
      width: 48px;
      height: 80px; }
      .Digit-y2lSy:first-child {
        margin-right: 10px; }
      .Digit-y2lSy .Top-19T8M, .Digit-y2lSy .Bottom-lN3Jl {
        width: 48px;
        height: 40px; }
      .Digit-y2lSy .Front-1iEq6, .Digit-y2lSy .Back-2iCmR, .Digit-y2lSy .Next-3P0v7 {
        width: 48px;
        height: 40px;
        font-size: 55px; }
      .Digit-y2lSy .Top-19T8M {
        line-height: 82px; }
      .Digit-y2lSy .Bottom-lN3Jl {
        top: 40px; }
      .Digit-y2lSy .Front-1iEq6 {
        -webkit-transform-origin: 0 40px;
                transform-origin: 0 40px; }
      .Digit-y2lSy .Back-2iCmR {
        z-index: 3;
        top: 42px; } }

.FlipClock-2N6rL {
  position: relative;
  display: inline-block;
  font-size: 0; }
  .FlipClock-2N6rL .Title-2q8Ec {
    font-size: 14px;
    color: #ffeb3b;
    letter-spacing: 1.6px; }
  .FlipClock-2N6rL .DigitWrap-Nt8fn {
    margin-top: 8px; }
  @media (max-width: 640px) {
    .FlipClock-2N6rL .Title-2q8Ec {
      font-size: 12px; } }

.SpaceShuttle-2bLaS {
  position: absolute;
  width: 577px;
  left: 400px;
  bottom: -94px;
  font-size: 0;
  z-index: 2;
  pointer-events: none; }
  .SpaceShuttle-2bLaS .Shuttle-1bXUz {
    width: 100%; }
  .SpaceShuttle-2bLaS .Star-1jhti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: translate3d(50%, 70%, 0);
            transform: translate3d(50%, 70%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .SpaceShuttle-2bLaS .Star-1jhti .Sprite-Qa7h4 {
      background-image: url("/static/images/pages/hero/star-sprite.png");
      background-size: 34px 153px; }
  .SpaceShuttle-2bLaS .Star1-UIam2.active-2_DBX {
    -webkit-transform: translate3d(12%, 15%, 0);
            transform: translate3d(12%, 15%, 0); }
  .SpaceShuttle-2bLaS .Star1-UIam2 > .Sprite-Qa7h4 {
    width: 23px;
    height: 19px;
    background-position: 0 -0px; }
  .SpaceShuttle-2bLaS .Star2-1_zNt.active-2_DBX {
    -webkit-transform: translate3d(29%, 23%, 0);
            transform: translate3d(29%, 23%, 0); }
  .SpaceShuttle-2bLaS .Star2-1_zNt > .Sprite-Qa7h4 {
    width: 34px;
    height: 37px;
    background-position: 0 -19px; }
  .SpaceShuttle-2bLaS .Star3-3SJW6.active-2_DBX {
    -webkit-transform: translate3d(18.6%, 42.7%, 0);
            transform: translate3d(18.6%, 42.7%, 0); }
  .SpaceShuttle-2bLaS .Star3-3SJW6 > .Sprite-Qa7h4 {
    width: 23px;
    height: 27px;
    background-position: 0 -56px; }
  .SpaceShuttle-2bLaS .Star4-1IdXw.active-2_DBX {
    -webkit-transform: translate3d(75.3%, 21%, 0);
            transform: translate3d(75.3%, 21%, 0); }
  .SpaceShuttle-2bLaS .Star4-1IdXw > .Sprite-Qa7h4 {
    width: 17px;
    height: 19px;
    background-position: 0 -101px; }
  .SpaceShuttle-2bLaS .Star5-3Tt0q.active-2_DBX {
    -webkit-transform: translate3d(81%, 35.3%, 0);
            transform: translate3d(81%, 35.3%, 0); }
  .SpaceShuttle-2bLaS .Star5-3Tt0q > .Sprite-Qa7h4 {
    width: 30px;
    height: 33px;
    background-position: 0 -120px; }
  .SpaceShuttle-2bLaS .Star6-2eLx8.active-2_DBX {
    -webkit-transform: translate3d(91%, 20%, 0);
            transform: translate3d(91%, 20%, 0); }
  .SpaceShuttle-2bLaS .Star6-2eLx8 > .Sprite-Qa7h4 {
    width: 18px;
    height: 18px;
    background-position: 0 -83px; }
  @media (max-width: 640px) {
    .SpaceShuttle-2bLaS {
      width: 70%;
      left: auto;
      right: -40px;
      bottom: -72px;
      z-index: 2; }
      .SpaceShuttle-2bLaS .Star-1jhti > .Sprite-Qa7h4 {
        -webkit-transform: scale(0.7);
                transform: scale(0.7); } }

.HeroSection-327bZ {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#110a5a), to(#07042e));
  background-image: linear-gradient(to bottom, #110a5a, #07042e); }
  .HeroSection-327bZ .Content-vWUa3 {
    position: relative;
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 72px 86px 136px;
    z-index: 2; }
    .HeroSection-327bZ .Content-vWUa3 .Logo-3uHpH {
      font-size: 0; }
      .HeroSection-327bZ .Content-vWUa3 .Logo-3uHpH img {
        width: 120px; }
    .HeroSection-327bZ .Content-vWUa3 .SocialWrap-2pRQ7 {
      position: absolute;
      top: 72px;
      right: 86px; }
    .HeroSection-327bZ .Content-vWUa3 .SocialList-1nEoG {
      padding: 0;
      margin: 0;
      list-style: none; }
    .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-size: 100%; }
      .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d:nth-child(1) {
        background-image: url("/static/images/socials/facebook.png"); }
      .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d:nth-child(2) {
        background-image: url("/static/images/socials/pages.png"); }
      .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d:nth-child(3) {
        background-image: url("/static/images/socials/email.png"); }
      .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d:last-child {
        margin: 0; }
      .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d a {
        display: block;
        width: 100%;
        height: 100%; }
    .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj {
      position: relative;
      margin-top: 40px; }
      .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .Day-1HylN {
        margin-bottom: 20px; }
      .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo {
        position: relative;
        display: inline-block;
        padding: 34px 16px;
        width: 41px;
        height: 100px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo .Circle-3UuCa {
          position: absolute;
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: white; }
          .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo .Circle-3UuCa:first-child {
            top: 34px; }
          .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo .Circle-3UuCa:last-child {
            bottom: 34px; }
    .HeroSection-327bZ .Content-vWUa3 .ButtonWrap-aiAbl {
      margin-top: 72px;
      font-size: 0; }
      .HeroSection-327bZ .Content-vWUa3 .ButtonWrap-aiAbl a {
        display: block; }
      .HeroSection-327bZ .Content-vWUa3 .ButtonWrap-aiAbl button {
        width: 218px;
        padding: 18px 0 20px 0;
        background: #ffeb3b;
        color: #000; }
    @media (max-width: 640px) {
      .HeroSection-327bZ .Content-vWUa3 {
        padding: 32px 24px 90px; }
        .HeroSection-327bZ .Content-vWUa3 .Logo-3uHpH img {
          width: 72px; }
        .HeroSection-327bZ .Content-vWUa3 .SocialWrap-2pRQ7 {
          position: absolute;
          top: 32px;
          right: 24px; }
        .HeroSection-327bZ .Content-vWUa3 .SocialItem-1Hn-d {
          width: 30px;
          height: 30px;
          margin-right: 6px; }
        .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .Day-1HylN {
          margin-bottom: 8px; }
        .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo {
          padding: 26px 13px;
          width: 32px;
          height: 80px; }
          .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo .Circle-3UuCa:first-child {
            top: 26px; }
          .HeroSection-327bZ .Content-vWUa3 .ClockWrap-1Lukj .TimeDivider-RsaTo .Circle-3UuCa:last-child {
            bottom: 26px; }
        .HeroSection-327bZ .Content-vWUa3 .HeroImage-mGicY {
          width: 70%;
          left: auto;
          right: -40px;
          bottom: -72px;
          z-index: 2; }
        .HeroSection-327bZ .Content-vWUa3 .ButtonWrap-aiAbl {
          margin-top: 40px; }
          .HeroSection-327bZ .Content-vWUa3 .ButtonWrap-aiAbl button {
            width: 172px;
            padding: 17px 0; } }
  .HeroSection-327bZ .Background-ezFS5 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .HeroSection-327bZ .Background-ezFS5 > img {
      max-width: 100%; }
    .HeroSection-327bZ .Background-ezFS5 .TopRight-19cS3 {
      position: absolute;
      top: 0;
      right: 0; }
    .HeroSection-327bZ .Background-ezFS5 .BottomLeft-fhHnJ {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
  @media (max-width: 640px) {
    .HeroSection-327bZ .Background-ezFS5 > img {
      max-width: 60%; } }

.Button-3Tk67 {
  padding: 18px 40px 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer; }

.ApparentSection-EI8oI .Target-1mng0 {
  -webkit-transform: translate3d(0, 70px, 0);
          transform: translate3d(0, 70px, 0);
  -webkit-transition: opacity 1.2s, -webkit-transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1);
  transition: opacity 1.2s, -webkit-transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1);
  transition: transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1), opacity 1.2s;
  transition: transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1), opacity 1.2s, -webkit-transform 0.9s cubic-bezier(0.27, 0.85, 0.46, 1);
  opacity: .01; }
  .ApparentSection-EI8oI .Target-1mng0.appear-2FRjf {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1; }

.IntroSection-3y_m3 {
  position: relative;
  background: white; }
  .IntroSection-3y_m3 .Content-25bQY {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 180px 86px 100px 86px; }
    .IntroSection-3y_m3 .Content-25bQY .TitleArea-2kNyL {
      float: left;
      width: 42.2%; }
      .IntroSection-3y_m3 .Content-25bQY .TitleArea-2kNyL span {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #000; }
    .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp {
      float: right;
      width: 57.7%; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp > a {
        text-decoration: none; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Title-16XOJ {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        color: #a821d2; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .SubTitle-2TCCG {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        margin-top: 40px;
        color: #333; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Desc-y6EAQ {
        font-size: 14px;
        margin-top: 16px;
        line-height: 1.5;
        color: #333; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led- {
        margin-top: 40px; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- {
        margin-top: 20px; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led-, .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led- img, .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- img {
          width: 30px;
          height: 30px; }
        .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led- p, .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- p {
          font-size: 18px;
          font-weight: 700;
          color: #333;
          margin-left: 16px; }
      .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .ButtonWrap-17pYN {
        margin-top: 80px; }
    @media (max-width: 640px) {
      .IntroSection-3y_m3 .Content-25bQY {
        padding: 52px 24px 72px; }
        .IntroSection-3y_m3 .Content-25bQY .TitleArea-2kNyL {
          float: none;
          width: 100%;
          margin-bottom: 40px; }
          .IntroSection-3y_m3 .Content-25bQY .TitleArea-2kNyL span {
            font-size: 24px; }
        .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp {
          float: none;
          width: 100%; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Title-16XOJ {
            font-size: 16px; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .SubTitle-2TCCG {
            margin-top: 32px; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Desc-y6EAQ {
            margin-top: 24px; }
            .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Desc-y6EAQ br {
              display: none; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led- {
            margin-top: 32px; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- {
            margin-top: 12px; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led- img, .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- img {
            width: 26px;
            height: 26px; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Date-1Led- p, .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .Location-2y4f- p {
            font-size: 14px; }
          .IntroSection-3y_m3 .Content-25bQY .DescArea-2Qtgp .ButtonWrap-17pYN {
            display: none; } }

.SessionItem-24a3B {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .SessionItem-24a3B .TimeIndicator-2T9UW {
    position: relative;
    width: 100px;
    text-align: center;
    padding-bottom: 80px;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px; }
    .SessionItem-24a3B .TimeIndicator-2T9UW .Indicator-1VWUw {
      width: 13px;
      height: 13px;
      margin: 3px auto 0;
      border-radius: 50%;
      background: #a821d2; }
    .SessionItem-24a3B .TimeIndicator-2T9UW .Time-34XoG {
      margin-top: 8px;
      color: #a821d2;
      font-size: 12px;
      font-weight: 700;
      white-space: nowrap; }
    .SessionItem-24a3B .TimeIndicator-2T9UW .Line-3lArI {
      position: absolute;
      top: 44px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      background: #a821d2;
      margin: 0 auto -3px; }
  .SessionItem-24a3B .Speaker-20Kbg {
    margin-left: 8px;
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .SessionItem-24a3B .Speaker-20Kbg .Title-21QLs {
      font-weight: 700;
      color: #22032b;
      line-height: 16px;
      word-break: keep-all; }
    .SessionItem-24a3B .Speaker-20Kbg .Name-11wku {
      margin-top: 5px; }
      .SessionItem-24a3B .Speaker-20Kbg .Name-11wku a {
        text-decoration: none;
        color: #a821d2; }
  .SessionItem-24a3B .LaunchTitle-yw-Yj {
    float: left;
    margin-left: 8px;
    color: #22032b;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700; }
  .SessionItem-24a3B:last-child .TimeIndicator-2T9UW {
    padding-bottom: 20px; }
    .SessionItem-24a3B:last-child .TimeIndicator-2T9UW .Line-3lArI {
      display: none; }

.TrackList-LBwS1 .Label-2NB9_ {
  padding: 20px;
  margin-top: 52px;
  font-size: 18px;
  font-weight: 700;
  color: #a821d2;
  border-bottom: 1px solid #a821d2;
  text-align: center; }

.TrackList-LBwS1 .SessionWrap-3NzV9 {
  padding: 32px 24px 0;
  max-width: 420px;
  margin: 0 auto; }

.SessionPair-Wjc6J {
  position: relative;
  padding-bottom: 60px; }
  .SessionPair-Wjc6J:last-child {
    padding-bottom: 0; }
  .SessionPair-Wjc6J:not(:first-child) {
    margin-top: 16px; }
  .SessionPair-Wjc6J .SessionItem-3U9wW {
    width: calc(50% - 95px);
    font-size: 14px; }
    .SessionPair-Wjc6J .SessionItem-3U9wW:nth-child(1) {
      float: left; }
      .SessionPair-Wjc6J .SessionItem-3U9wW:nth-child(1) > div {
        text-align: right; }
    .SessionPair-Wjc6J .SessionItem-3U9wW:nth-child(2) {
      float: right; }
      .SessionPair-Wjc6J .SessionItem-3U9wW:nth-child(2) > div {
        text-align: left; }
    .SessionPair-Wjc6J .SessionItem-3U9wW .Title-1a3tX {
      font-weight: 600;
      color: #22032b;
      word-break: keep-all; }
    .SessionPair-Wjc6J .SessionItem-3U9wW .Name-1WIOe {
      margin-top: 5px; }
      .SessionPair-Wjc6J .SessionItem-3U9wW .Name-1WIOe a {
        text-decoration: none;
        color: #a821d2; }
  .SessionPair-Wjc6J .TimeIndicator-142LK {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center; }
    .SessionPair-Wjc6J .TimeIndicator-142LK .Indicator-2g-DD {
      width: 12px;
      height: 12px;
      margin: 0 auto;
      border-radius: 50%;
      background: #a821d2; }
    .SessionPair-Wjc6J .TimeIndicator-142LK .Time-3UHPX {
      margin-top: 8px;
      color: #a821d2;
      font-size: 12px;
      font-weight: 700; }
    .SessionPair-Wjc6J .TimeIndicator-142LK .LaunchTitle-6L0OR {
      color: #22032b;
      font-weight: 700;
      margin-top: 8px; }
  .SessionPair-Wjc6J .Line-28xqk {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #a821d2;
    margin: 0 auto; }
  .SessionPair-Wjc6J.noSpeaker-3lMal > div:first-child {
    height: 100px; }
  .SessionPair-Wjc6J.noSpeaker-3lMal .Line-28xqk {
    top: 100px; }
  .SessionPair-Wjc6J:last-child .Line-28xqk {
    display: none; }

.TrackPair-1i1fn .LabelWrap-1nKNK {
  margin-top: 52px; }
  .TrackPair-1i1fn .LabelWrap-1nKNK .Label-1kSlb {
    display: inline-block;
    padding: 20px 128px;
    font-size: 18px;
    font-weight: 700;
    color: #a821d2;
    border-bottom: 1px solid #a821d2; }
    .TrackPair-1i1fn .LabelWrap-1nKNK .Label-1kSlb:nth-child(1) {
      float: left; }
    .TrackPair-1i1fn .LabelWrap-1nKNK .Label-1kSlb:nth-child(2) {
      float: right; }

.TrackPair-1i1fn .SessionWrap-1EXEO {
  padding-top: 52px; }

.ScheduleSection-336wZ {
  position: relative;
  background: #fff; }
  .ScheduleSection-336wZ .Content-1qhrz {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 173px 120px; }
    .ScheduleSection-336wZ .Content-1qhrz .Title-jaTCx {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #a821d2;
      text-align: center; }
    .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK {
      width: 330px;
      margin: 52px auto 0 auto;
      border-top: 1px solid #a821d2;
      border-bottom: 1px solid #a821d2; }
      .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK .Schedule-1OBHz {
        height: 60px;
        line-height: 60px; }
        .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK .Schedule-1OBHz:first-child {
          border-bottom: 1px solid #e6e5e7; }
        .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK .Schedule-1OBHz .Time-2ytnK {
          width: 100px;
          float: left;
          font-size: 12px;
          font-weight: 600;
          color: #a821d2; }
        .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK .Schedule-1OBHz .Desc-1YRae {
          width: 230px;
          float: right;
          font-size: 14px;
          font-weight: 600;
          color: #22032b; }
    @media (max-width: 640px) {
      .ScheduleSection-336wZ .Content-1qhrz {
        padding: 52px 24px 72px; }
        .ScheduleSection-336wZ .Content-1qhrz .Title-jaTCx {
          font-size: 16px;
          font-weight: 700; }
        .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK {
          width: 280px; }
          .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK .Schedule-1OBHz .Time-2ytnK {
            width: 85px; }
          .ScheduleSection-336wZ .Content-1qhrz .Intro-1T6tK .Schedule-1OBHz .Desc-1YRae {
            width: 195px; } }

.Sidebar-3-uEG {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  visibility: hidden;
  -webkit-transition: visibility .2s;
  transition: visibility .2s; }
  .Sidebar-3-uEG .Dim-26jPW {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
    opacity: .01;
    background: #000;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .Sidebar-3-uEG .Content-3I_eL {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1003;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0.82, 0, 0.99);
    transition: -webkit-transform 0.5s cubic-bezier(0, 0.82, 0, 0.99);
    transition: transform 0.5s cubic-bezier(0, 0.82, 0, 0.99);
    transition: transform 0.5s cubic-bezier(0, 0.82, 0, 0.99), -webkit-transform 0.5s cubic-bezier(0, 0.82, 0, 0.99); }
  .Sidebar-3-uEG.Open-zjHNl {
    visibility: visible; }
    .Sidebar-3-uEG.Open-zjHNl .Dim-26jPW {
      opacity: .5; }
    .Sidebar-3-uEG.Open-zjHNl .Content-3I_eL {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }

.SpeakerInfo-1WmKA {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 578px;
  height: 100%;
  padding: 60px 72px;
  background: white;
  font-size: 0;
  z-index: 1003; }
  .SpeakerInfo-1WmKA .CloseBtn-GzkR6 img {
    width: 32px;
    height: 32px; }
  .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq {
    margin-top: 80px; }
    .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Image-1pEmq {
      float: left; }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Image-1pEmq img {
        width: 120px;
        height: 120px;
        border-radius: 50%; }
    .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ {
      float: left;
      margin: 60px 0 0 32px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ .Name-1J0m4 {
        font-size: 20px;
        font-weight: 700;
        color: #333; }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ .Company-2u0Dt {
        margin-top: 8px; }
        .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ .Company-2u0Dt a {
          font-size: 16px;
          font-weight: 700;
          color: #a821d2;
          text-decoration: none; }
    .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Present-3xRgg {
      margin-top: 40px;
      font-size: 16px;
      color: #333; }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Present-3xRgg .Title-2-3dF {
        font-weight: 700; }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Present-3xRgg .Track-LMVOy {
        margin-top: 4px; }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Present-3xRgg .Desc-2RXau {
        margin-top: 24px;
        line-height: 1.5; }
  @media (max-width: 640px) {
    .SpeakerInfo-1WmKA {
      padding: 32px;
      max-width: 288px; }
      .SpeakerInfo-1WmKA .CloseBtn-GzkR6 img {
        width: 20px;
        height: 20px; }
      .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq {
        margin-top: 32px; }
        .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Image-1pEmq img {
          width: 72px;
          height: 72px; }
        .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ {
          margin: 36px 0 0 16px;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
          .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ .Company-2u0Dt {
            font-size: 13px; }
          .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Profile-3cd3d .Text-OQ-lQ .Name-1J0m4 {
            margin-top: 4px;
            font-size: 16px; }
        .SpeakerInfo-1WmKA .SpeakerWrap-3Dthq .Present-3xRgg {
          margin-top: 24px;
          font-size: 14px; } }

.SpeakerProfile-kQVs0 {
  position: relative;
  width: 120px;
  font-size: 0;
  text-decoration: none; }
  .SpeakerProfile-kQVs0 .ContentWrap-2nId9 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9:hover .ImageWrap-NUBgb > svg circle {
      stroke-dashoffset: 0; }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9:hover .Name-2g0hn span {
      background-color: #ffeb3b; }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .ImageWrap-NUBgb {
      position: relative; }
      .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .ImageWrap-NUBgb > svg {
        position: absolute;
        top: 0;
        right: 0; }
        .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .ImageWrap-NUBgb > svg circle {
          stroke-dashoffset: 341;
          -webkit-transition: stroke-dashoffset 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
          transition: stroke-dashoffset 1.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
      .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .ImageWrap-NUBgb > img {
        width: 100%;
        height: 120px;
        border-radius: 50%; }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Name-2g0hn {
      margin-top: 16px;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: #333; }
      .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Name-2g0hn span {
        padding: 0 12px;
        background-color: transparent;
        -webkit-transition: background-color 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: background-color 1.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Company-vyy72 {
      position: relative;
      margin-top: 42px;
      height: 14px;
      font-size: 14px;
      line-height: 1;
      color: #a821d2;
      font-weight: normal; }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Company-vyy72 span, .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Name-2g0hn span {
      position: absolute;
      display: block;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      white-space: nowrap;
      text-align: center; }
  @media (max-width: 1024px) {
    .SpeakerProfile-kQVs0 {
      width: 90px; }
      .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .ImageWrap-NUBgb > img {
        height: 90px; }
      .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Name-2g0hn span {
        padding: 0; } }
  @media (max-width: 960px) {
    .SpeakerProfile-kQVs0 {
      width: 60px; }
      .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .ImageWrap-NUBgb > img {
        height: 60px; } }
  @media (max-width: 640px) {
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Company-vyy72 {
      font-size: 11px; }
    .SpeakerProfile-kQVs0 .ContentWrap-2nId9 .Name-2g0hn {
      font-size: 14px; } }

.SpeakersRow-3urQG {
  position: relative;
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .SpeakersRow-3urQG:last-child {
    margin-bottom: 0; }

.SpeakersSection-2-hTv {
  position: relative;
  background: #f6f6f6; }
  .SpeakersSection-2-hTv .Content-3c5Fr {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 192px 140px; }
    .SpeakersSection-2-hTv .Content-3c5Fr .Title-2nVN9 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #a821d2;
      text-align: center; }
    .SpeakersSection-2-hTv .Content-3c5Fr .SpeakersWrap-xAe-A {
      margin-top: 100px; }
    @media (max-width: 1024px) {
      .SpeakersSection-2-hTv .Content-3c5Fr {
        padding: 120px 200px 140px; } }
    @media (max-width: 640px) {
      .SpeakersSection-2-hTv .Content-3c5Fr {
        max-width: 360px;
        padding: 52px 32px 72px; }
        .SpeakersSection-2-hTv .Content-3c5Fr .Title-2nVN9 {
          font-size: 16px; }
        .SpeakersSection-2-hTv .Content-3c5Fr .SpeakersWrap-xAe-A {
          margin-top: 32px; } }

.SponsorLogo-um7hC {
  display: inline-block;
  max-width: 100px;
  margin-top: 40px;
  padding: 0 10px;
  vertical-align: middle; }
  .SponsorLogo-um7hC:last-child {
    margin-right: 0; }
  .SponsorLogo-um7hC .Anchor-2rV5o {
    display: block;
    width: 100%;
    height: 100%; }
  .SponsorLogo-um7hC .Image-3HuqL {
    width: 100%; }

.SponsorsSection-1Y9Ax {
  position: relative;
  background: #f6f6f6; }
  .SponsorsSection-1Y9Ax .Content-cXrr_ {
    max-width: 1024px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 86px; }
    .SponsorsSection-1Y9Ax .Content-cXrr_ .Title-1j4uH {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: #a821d2;
      text-align: center; }
    .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix {
      display: table;
      margin: 16px auto 0 auto;
      font-size: 14px;
      line-height: 21px;
      color: #958b98;
      text-align: left;
      word-break: keep-all; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix span:nth-child(3) {
        display: inline-block;
        text-overflow: ellipsis; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix br:nth-child(2) {
        display: none; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix br:nth-child(4) {
        display: block; }
    .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .Diamond-2y9zr, .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .Platinum-3cyGc, .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .Gold-2TR8K, .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .Etc-2UpdL {
      position: relative; }
    .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .LevelWrap-1pzUb {
      margin-top: 52px; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .LevelWrap-1pzUb .LevelTitle-2m-7r {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #22032b;
        text-align: center; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .LevelWrap-1pzUb .SponsorList-Ho6G_ {
        padding: 0;
        text-align: center;
        list-style: none;
        font-size: 0; }
  @media (max-width: 640px) {
    .SponsorsSection-1Y9Ax .Content-cXrr_ {
      padding: 52px 24px 72px; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .Title-1j4uH {
        font-size: 16px; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix {
        font-size: 12px;
        text-align: center; }
        .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix span:nth-child(1) {
          display: inline-block;
          text-overflow: ellipsis; }
        .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix span:nth-child(3) {
          display: inline;
          text-overflow: unset; }
        .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix br:nth-child(2) {
          display: block; }
        .SponsorsSection-1Y9Ax .Content-cXrr_ .Desc-3v3Ix br:nth-child(4) {
          display: none; }
      .SponsorsSection-1Y9Ax .Content-cXrr_ .SponsorsWrap-3yVzA .LevelWrap-1pzUb .LevelTitle-2m-7r {
        font-size: 14px; } }

.Content-1ZaE6 {
  position: relative;
  overflow: hidden; }

.blind {
  font-size: 0;
  height: 0;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 0; }

.clear {
  clear: both; }
  .clear::after {
    content: ' ';
    clear: both;
    display: table; }

.transparent {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 0 none;
  cursor: pointer; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal; }

* {
  font-family: 'Spoqa Han Sans', 'Apple SD Gothic Neo', 'Sans-serif'; }

body {
  overflow-x: hidden; }

p {
  margin: 0; }

button {
  padding: 18px 40px 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer; }

.clear {
  clear: both; }

body.fixed {
  overflow: hidden; }


/*# sourceMappingURL=styles.chunk.css.map*/