@import 'variables';

.TrackList {
  margin-top: 32px;

  .Label {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: $main-color;
    border-bottom: 1px solid $main-color;
    text-align: center;
  }
  .SessionWrap {
    padding: 32px 24px;
    max-width: 420px;
    margin: 0 auto;
  }
}
