@import "variables";
@import "mixins";

.wrapper {
  margin: 0;
  padding: 15px 0;
  font-size: 15px;
  line-height: 19px;
  background: #ffe834;
  color: $font-color;
  text-align: center;
  word-break: keep-all;
  a {
    color: $font-color;
  }
  @include mobile-basic {
    font-size: 14px;
  }
}
