@import 'variables';
@import 'mixins';

.ScheduleSection {
  position: relative;
  background: #fff;

  .Content {
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 173px 120px;

    .Title {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      color: $main-color;
      text-align: center;
    }
    .Intro {
      width: 330px;
      margin: 52px auto 0 auto;
      border-top: 1px solid $main-color;
      border-bottom: 1px solid $main-color;

      .Schedule {
        height: 60px;
        line-height: 60px;

        &:first-child {
          border-bottom: 1px solid #e6e5e7;
        }
        .Time {
          width: 100px;
          float: left;
          font-size: 12px;
          font-weight: 600;
          color: $main-color;
        }
        .Desc {
          width: 230px;
          float: right;
          font-size: 14px;
          font-weight: 600;
          color: #22032b;
        }
      }
    }

    @include mobile-basic {
      padding: 52px 24px 72px;

      .Title {
        font-size: 16px;
        font-weight: 700;
      }

      .Intro {
        width: 280px;

        .Schedule {
          .Time {
            width: 85px;
          }
          .Desc {
            width: 195px;
          }
        }
      }
    }
  }
}
