@import '../../styles/variables';
@import '../../styles/mixins';

.ScheduleSection {
  position: relative;
  background: #fff;

  .Content {
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 120px 173px 0 173px;

    .Title {
      font-size: 24px;
      font-weight: 700;
      color: $main-color;
      text-align: center;
    }
    .Intro {
      width: 330px;
      margin: 52px auto 0 auto;
      border-top: 1px solid $main-color;
      border-bottom: 1px solid $main-color;

      .Schedule {
        height: 60px;
        line-height: 60px;

        &:first-child {
          border-bottom: 1px solid #e6e5e7;
        }
        .Time {
          width: 100px;
          float: left;
          font-size: 12px;
          font-weight: 600;
          color: $main-color;
        }
        .Desc {
          width: 230px;
          float: right;
          font-size: 14px;
          font-weight: 600;
          color: #22032b;
        }
      }
    }
    .TrackWrap {
      margin-top: 52px;
    }

    @include tablet-basic {
      padding: 40px 24px 0 24px;

      .Title {
        font-size: 16px;
        font-weight: 700;
      }
      .Intro {

      }
    }
    @include mobile-basic {

    }
  }
}
