@import 'variables';

.SessionPair {
  position: relative;
  padding-bottom: 60px;
  &:last-child {
    padding-bottom: 0;
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  .SessionItem {
    width: calc(50% - 95px);
    font-size: 14px;

    &:nth-child(1) {
      float: left;

      & > div {
        text-align: right;
      }
    }
    &:nth-child(2) {
      float: right;

      & > div {
        text-align: left;
      }
    }
    .Title {
      font-weight: 600;
      color: #22032b;
    }
    .Name {
      margin-top: 5px;
      color: $main-color;
    }
  }
  .TimeIndicator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    .Indicator {
      width: 12px;
      height: 12px;
      margin: 0 auto;
      border-radius: 50%;
      background: $main-color;
    }
    .Time {
      margin-top: 8px;
      color: $main-color;
      font-size: 12px;
      font-weight: 700;
    }
    .LaunchTitle {
      color: #22032b;
      font-weight: 700;
      margin-top: 8px;
    }
  }
  .Line {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: $main-color;
    margin: 0 auto;
  }

  &.noSpeaker {
    & > div:first-child {
      height: 100px;
    }
    .Line {
      top: 100px;
    }
  }
  &:last-child {
    .Line {
      display: none;
    }
  }
}
