@import '../../styles/variables';

.IntroSection {
  position: relative;
  background: white;

  .Content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 180px 86px 100px 86px;

    .TitleArea {
      float: left;
      width: 42.2%;

      span {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #000;
      }
    }
    .DescArea {
      float: right;
      width: 57.7%;

      .Title {
        font-size: 24px;
        color: $main-color;
      }
      .SubTitle {
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
        color: $font-color;
      }
      .Desc {
        font-size: 14px;
        margin-top: 16px;
        color: $font-color;
      }
      .Date {
        margin-top: 40px;
      }
      .Location {
        margin-top: 20px;
      }
      .Date, .Location {
        font-size: 18px;
        font-weight: 700;
        color: $font-color;
      }
      .ButtonWrap {
        margin-top: 80px;
      }
    }
  }
}
