@import 'variables';
@import 'mixins';

.IntroSection {
  position: relative;
  background: white;

  .Content {
    max-width: $tablet-basic-width;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 180px 86px 100px 86px;

    .TitleArea {
      float: left;
      width: 42.2%;

      span {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #000;
      }
    }
    .DescArea {
      float: right;
      width: 57.7%;

      .Title {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        color: $main-color;
      }
      .SubTitle {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.44;
        margin-top: 40px;
        color: $font-color;
      }
      .Desc {
        font-size: 14px;
        margin-top: 16px;
        line-height: 1.5;
        color: $font-color;
      }
      .Date {
        margin-top: 40px;
      }
      .Location {
        margin-top: 20px;
      }
      .Date, .Location {
        font-size: 18px;
        font-weight: 700;
        color: $font-color;
      }
      .ButtonWrap {
        margin-top: 80px;
      }
    }

    @include tablet-basic {
      padding: 72px 24px 52px 24px;

      .TitleArea {
        float: none;
        width: 100%;
        margin-bottom: 40px;

        span {
          font-size: 24px;
        }
      }
      .DescArea {
        float: none;
        width: 100%;

        .Title {
          font-size: 16px;
        }
        .SubTitle {
          margin-top: 32px;
        }
        .Desc {
          margin-top: 24px;
        }
        .Date {
          margin-top: 32px;
        }
        .Location {
          margin-top: 12px;
        }
        .Date, .Location {
          font-size: 14px;
        }
        .ButtonWrap {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
}
