@import 'variables';
@import 'mixins';

.Digit {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 100px;

  &:first-child {
    margin-right: 12px;
  }
  .Top, .Bottom {
    position: absolute;
    width: 60px;
    height: 50px;
  }
  .Front, .Back, .Next {
    position: absolute;
    overflow: hidden;
    background: white;
    width: 60px;
    height: 50px;
    color: $clock-color;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    backface-visibility: hidden;
  }
  .Top {
    line-height: 100px;

    .Front, .Next {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .Back {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .Bottom {
    top: 50px;
    margin-top: 2px;
    line-height: 0;

    .Front, .Back {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .Front {
    z-index: 2;
    transform-origin: 0 50px;
    transform: rotateX(0deg);

    &.Flip {
      transform: rotateX(180deg);
      transition: transform 700ms;
    }
  }
  .Back {
    z-index: 3;
    top: 52px;
    transform-origin: 0 -1px;
    transform: rotateX(180deg);
    line-height: 0;

    &.Flip {
      transform: rotateX(0deg);
      transition: transform 700ms;
    }
  }
  .Next {
    z-index: 1;
  }

  @include mobile-basic {
    width: 48px;
    height: 80px;

    &:first-child {
      margin-right: 10px;
    }
    .Top, .Bottom {
      width: 48px;
      height: 40px;
    }
    .Front, .Back, .Next {
      width: 48px;
      height: 40px;
      font-size: 55px;
    }
    .Top {
      line-height: 80px;
    }
    .Bottom {
      top: 40px;
    }
    .Front {
      transform-origin: 0 40px;
    }
    .Back {
      z-index: 3;
      top: 42px;
    }
  }
}
